# Server Environment Variables

# The port the server will run on
PORT=5000

# Database Connection String for PostgreSQL/PostGIS
DATABASE_URL=db_url

# Secret used to sign JWT tokens
JWT_SECRET=your_super_secret_jwt_key_here

# Clerk backend secret key used to verify session tokens
CLERK_SECRET_KEY=sk_test_your_key_here

# Twilio Credentials for WhatsApp/SMS
TWILIO_ACCOUNT_SID=your_twilio_sid
TWILIO_AUTH_TOKEN=your_twilio_auth_token
TWILIO_WHATSAPP_NUMBER=whatsapp_number

# AI Service Configuration
AI_SERVICE_URL=http://localhost:8000
GEMINI_API_KEY=your_gemini_api_key_here
HF_TOKEN=your_huggingface_token_here

#Rate limitng using redis
REDIS_URL=redis://de*****:**************************

#FOR external cron job security
CRON_SECRET=************
CRON_HEADER=************

# ImageKit Configuration for Cloud Storage
IMAGEKIT_PRIVATE_KEY=your_imagekit_private_key
IMAGEKIT_URL_ENDPOINT=your_imagekit_url_endpoint